/* Main scheduler container - change overflow to visible */
.scheduler {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

/* Main content wrapper - change overflow to visible */
.scheduler-wrapper {
    height: calc(100vh - 2rem);
    padding: 1rem;
    padding-left: calc(var(--sidebar-short-width) + 1rem);
    display: flex;
    flex-direction: column;
    transition: 0ms;
    position: relative;
    z-index: 10;
}

/* Top bar containing the dropdown */
.sidebar {
    background-color: #f8fafc;
    padding-bottom: 1rem;
    border-radius: 12px 12px 0px 0px;
    border-bottom: #e2e8f0 1px solid;
    position: relative;
    z-index: 10; /* Higher z-index to ensure proper stacking */
    display: flex;
}

.message-container {
    padding-left: 6rem;
}
