.sidebar {
    background-color: var(--main-dark);
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: width 225ms ease, border-radius 225ms ease;
}

.sidebar-header {
    padding: 1rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sidebar-header-logo {
    width: 2rem;
    height: 2rem;
    color: #F9F9F9;
    flex-shrink: 0;
}

.sidebar-header-title {
    color: #F9F9F9;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    transition: opacity 225ms ease;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    justify-content: center;
}

.sidebar-item {
    padding: 1rem 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.expanded {
    width: 13rem;
    border-radius: 12px;
    opacity: 0.98;
}

.expanded .sidebar-item-label {
    opacity: 1;
    width: auto;
    margin-left: 0.5rem;
}

.expanded .sidebar-header-title {
    opacity: 1;
    width: auto;
    margin-left: 0.5rem;
}

.expanded .sidebar-item-icon {
    padding-left: 2.5rem;
}

.sidebar-item-label {
    color: #F9F9F9;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    transition: opacity 225ms ease;
}

.sidebar-item-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #F9F9F9;
    padding-left: 1rem;
    flex-shrink: 0;
    transition: 225ms ease;
}

.active {
    background-color: var(--action);
}

.sidebar-footer {
    margin-top: auto;
    width: 100%;
    justify-content: center;
}

.settings-button {
    width: 1.5rem;
    height: 1.5rem;
    color: #F9F9F9;
    flex-shrink: 0;
    transition: 225ms ease;
    padding: 1rem 0;
}

.sidebar:hover .settings-button {
    padding-left: 1.5rem;
}