.logo.plover:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

* {
    margin:0;
    padding:0;
    color: #F9F9F9;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  
    background-color: #222222;
    --main-light: #F9F9F9;
    --main-dark: #2F2F35;
    --alert: #B52948;
    --action: #24CFC5;

    --sidebar-short-width: 5rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

}

h1 {
    color: var(--main-light);
}
